.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: lightblue;
}

.title {
    font-size: 4rem;
    color: darkblue;
}

.description {
    color: darkgray;
    margin-bottom: 2rem;
    text-align: center;
}

.button {
    padding: 0.75rem 1.5rem;
    background-color: darkblue;
    color: white;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: navy;
}